<style>
  div {
        width: 100%;
        color: white;
        font-family: 'East Sea Dokdo', cursive;
        text-align: center;
        border-bottom: 1px solid white;
  }

  span{
    color: white;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 25px;
    text-align: center;
    display: inline;
    width: auto;
  }

  h1{
    display:inline;
    height:200px;
    font-family: 'East Sea Dokdo', cursive;
    color:white;
    padding:0px;
    margin:0px;
    vertical-align: middle;
  }

  a{
    text-decoration-line: none;
  }

  .video{
   font-size: 25px;
  }

  .user{
    text-align: center;
    border-bottom: 1px solid white;
  }

  .list{
    margin: 0px;
    padding-top:20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-bottom:20px;
    background-color: #FF4500;
    font-family: 'East Sea Dokdo', cursive;
    text-align: center;
  }
</style>
